* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

ul,
li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;

    background-color: #1F2937;
}

.logo {
    padding: 16px;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

.nav-right-item {
    display: flex;
    flex-wrap: wrap;
}

.nav-item {
    padding: 16px;
}

.first-row {
    display: flex;
}

.sub-header {
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    padding: 6em;
}

.awesome-card {
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 550px;
    flex-wrap: wrap;
    padding: 16px;
}

.awesome-header {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.awesome-desc {
    margin: 1em 0;
}

.img-placeholder {
    /* background-color: grey; */
    flex-basis: auto;
    flex-shrink: 1;
}

.img-placeholder img {
    width: 600px;
    /* Changing to block display the remove any gap, try un-commenting background-color
    in .img-placeholder */
    display: block; 
}

.btn {
    padding: 8px;
    background-color: #3882f6;
    max-width: 90px;
    text-align: center;
    border-radius: 10px;
}

.second-row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-cards-title {
    /* align-self: center; */
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    padding: 24px;
}

.img-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.img-item img {
    width: 150px;
    /* border: 2px solid cornflowerblue; */
    border-radius: 10%;
}

.img-item {
    max-width: 150px;
    margin: 1em;
    text-align: center;
}

.third-row {
    display: flex;
    flex-direction: column;
    background: #E5E7EB;
    align-items: center;
    justify-content: center;
    padding: 6em 12em; 
    gap: 1em;
    flex-wrap: wrap;
    align-content: center;
}
 
.quote-text {
    font-size: 36px;
    color: #1f2937c2;
}

.quote-owner {
    font-weight: bolder;
    align-self: flex-end;
} 

.fourth-row {
    background-color: #3882f6;
    margin: 4em 3em;
    /* padding: 40px 120px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.alert-col {
    margin: 2em 130px;
}

.fourth-row p {
    color: #E5E7EB;
}

.alert-title {
    font-weight: 900;
    font-size: 20px;
}

.alert-btn {
    border: 2px solid white;
    border-radius: 10px;
    padding: 8px 20px;
    font-weight: bolder;
}

.footer-wrapper {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

