* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

ul,
li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-item a {
    text-decoration: none;
    color: #E5E7EB;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;

    background-color: #1F2937;
}

.logo {
    padding: 16px;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

.nav-right-item {
    display: flex;
}

.nav-item {
    padding: 16px;
}
